<% if(typeof errorType !== 'undefined'){%>
  <div class="card">
    <h5 class="card-header">Error</h5>
    <div class="card-body">
      <h5 class="card-title"><%-`${errorType}`%></h5>
    </div>
  </div>
<%}%>