<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" style="padding: 9px 0px;" href="/">TinyApp</a>
      </div>
    </div>
  </nav>
</header>