<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= urls[shortURL] %></h5>
    <p class="card-text">
      Short URL: <a href="/<%= `${shortURL}` %>"><%= shortURL %></a>
    </p>
  </div>
  <div class="card-footer text-muted"></div>
</div>
